*{
    margin: 0;
    padding: 0;

}

body{
    background-color: black;

}
.container{
   height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 52px;
   position: relative;
}

.container :first-child{
    height: 120px;
    width: 100px;
    margin-left: -40px;
    background-color: gold;
    position: absolute;
    margin-bottom: 150px;

}
.container :nth-child(2){
    height: 150px;
    background-color: red;
}

.name{
    
    display: flex;
    justify-content: end;
     position: absolute;
     margin-left: 400px;
}

.name .box{
    height: 120px;
    width: 100px;
    background-color: aqua;
   
    
    
}